In [2]:
example={"key1":"Value1","key2":"Value 2"}

In [3]:
example["key1"]

'Value1'

In [4]:
example.key1

AttributeError: 'dict' object has no attribute 'key1'

In [5]:
from box import ConfigBox

In [6]:
example=ConfigBox({"key1":"Value1","key2":"Value 2"})
example.key1

'Value1'

In [7]:
## Explanation is for ensure annotation

def get_product(x:int,y:int) -> int:
    return x*y

In [8]:
get_product(2,2)

4

In [10]:
get_product(3,"6")

'666'

In [11]:
from ensure import ensure_annotations

@ensure_annotations
def get_product(x:int,y:int) -> int:
    return x*y

In [12]:
get_product(2,"4")

EnsureError: Argument y of type <class 'str'> to <function get_product at 0x000002A5C84FA560> does not match annotation type <class 'int'>

In [24]:
import pandas as pd
df=pd.read_csv(r"credit_risk_dataset.csv")

In [26]:
import numpy as np

In [34]:
df['cb_person_default_on_file']=np.where(df['cb_person_default_on_file']=="Y",1,0)
dfdum=pd.get_dummies(df,columns=["person_home_ownership","loan_intent","loan_grade"],drop_first=True)
dfdum

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,person_home_ownership_OTHER,...,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G
0,22,59000,123.0,35000,16.02,1,0.59,0,3,False,...,False,False,True,False,False,False,True,False,False,False
1,21,9600,5.0,1000,11.14,0,0.10,0,2,False,...,False,False,False,False,True,False,False,False,False,False
2,25,9600,1.0,5500,12.87,1,0.57,0,3,False,...,False,True,False,False,False,True,False,False,False,False
3,23,65500,4.0,35000,15.23,1,0.53,0,2,False,...,False,True,False,False,False,True,False,False,False,False
4,24,54400,8.0,35000,14.27,1,0.55,0,4,False,...,False,True,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,1.0,5800,13.16,0,0.11,0,30,False,...,False,False,True,False,False,True,False,False,False,False
32577,54,120000,4.0,17625,7.49,0,0.15,0,19,False,...,False,False,True,False,False,False,False,False,False,False
32578,65,76000,3.0,35000,10.99,1,0.46,0,28,False,...,True,False,False,False,True,False,False,False,False,False
32579,56,150000,5.0,15000,11.48,0,0.10,0,26,False,...,False,False,True,False,True,False,False,False,False,False
32580,66,42000,2.0,6475,9.99,0,0.15,0,30,False,...,False,True,False,False,True,False,False,False,False,False

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,...,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G
0,22,59000,123.0,35000,16.02,0.59,0,3,False,False,...,False,False,True,False,False,False,True,False,False,False
1,21,9600,5.0,1000,11.14,0.10,0,2,False,True,...,False,False,False,False,True,False,False,False,False,False
2,25,9600,1.0,5500,12.87,0.57,0,3,False,False,...,False,True,False,False,False,True,False,False,False,False
3,23,65500,4.0,35000,15.23,0.53,0,2,False,False,...,False,True,False,False,False,True,False,False,False,False
4,24,54400,8.0,35000,14.27,0.55,0,4,False,False,...,False,True,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,1.0,5800,13.16,0.11,0,30,False,False,...,False,False,True,False,False,True,False,False,False,False
32577,54,120000,4.0,17625,7.49,0.15,0,19,False,False,...,False,False,True,False,False,False,False,False,False,False
32578,65,76000,3.0,35000,10.99,0.46,0,28,False,False,...,True,False,False,False,True,False,False,False,False,False
32579,56,150000,5.0,15000,11.48,0.10,0,26,False,False,...,False,False,True,False,True,False,False,False,False,False
32580,66,42000,2.0,6475,9.99,0.15,0,30,False,False,...,False,True,False,False,True,False,False,False,False,False